/Sites/*
*.pyc
*.confc
*.png
*.bak
datac
coLab_local
coLab_local/*
/Shared/mostrecent.html
/.InterarchyMirrorCacheData/*
/Resources/Fonts
Page
Page/*
Song
Song/*
Group
Group/*
Resources/FontIndex
Resources/*.png
logs
logs/*
