/Sites/*
*.pyc
*.confc
*.png
*.bak
.coLab.conf*
misc
misc/*
datac
coLab_local
coLab_local/*
/Shared/mostrecent.html
/.InterarchyMirrorCacheData/*
/Resources/Fonts
Page
Page/*
Song
Song/*
Group
Group/*
Resources/FontIndex
Resources/*.png
logs
logs/*
bin/Older_stuff
Old
Old/*

Resources/Fonts.tar
