/Sites/*
*.pyc
*.confc
*.png
*.bak
.coLab.conf*
misc
misc/*
datac
coLab_local
coLab_local/*
/Shared/mostrecent.html
/.InterarchyMirrorCacheData/*
Group
Group/*
# In case we allow any Group content in the future:
Group/**/Page
Group/**/Page/*
Group/**/Song
Group/**/Song/*
Resources/FontIndex
Resources/*.png
logs
logs/*
bin/Older_stuff
Old
Old/*
Resources/Fonts
Resources/Fonts/*
Resources/Fonts.tar
Resources/Fonts.prev
Resources/Fonts.prev/*
Resources/Fonts.old
Resources/Fonts.old/*
Resources/BadFonts
Resources/BadFonts/*
Resources/php/.*
*.swp
Imaging-1.1.7/

