html, body { background-color: #a0a0a0; background-image: url('/coLab/Resources/P1GraySm.png');
	height: 100%;
        color: black;}:link { color: #d8c8b8; text-decoration: none;}
a:visited { color: #b8a898; text-decoration: none; }
a:hover { color: #f0e0d0; text-decoration: underline; }
a:active { color: #ffffff; text-decoration: underline; }

pre { font-family: chicago; }

textarea { background-color: #b0b0b8; font-family: Georgia; width: 640px; font-size: 12pt; }

input { background-color: #b0b0b0; font-family: Georgia; font-size: 12pt; }

.banner { position: absolute; top: 4px; left: 4px;  height: 20px;  right: 4px;
	z-index: 3;
	font-family:Georgia; color: #c0b0a0; 
	background-color: #000040; background-image: url('/coLab/Resources/BlueBlackBanner.png'); 
	}
.banner table td { width: 2% }
.banner_txt { color: #c0b0a0 }
.banner_txt a:link { color: #d8c8b8; text-decoration: none;}
.banner_txt a:visited { color: #b8a898; text-decoration: none; }
.banner_txt a:hover { color: #f0e0d0; text-decoration: underline;}
.banner_txt a:active { color: #ffffff; text-decoration: underline;}

.sidebar_l { position: absolute; top: 24px; left: 4px; width: 200px; 
	font-family: Helvetica; font-size: smaller;
	color: black; 
	background-color: #606060; background-image: url('/coLab/Resources/P1GraySm.png'); 
	}

.sidebar_l a:link { color: #2030ff; text-decoration: none;}
.sidebar_l a:visited { color: #0000c0; text-decoration: none; }
.sidebar_l a:hover { color: #f0e0d0; text-decoration: underline;}
.sidebar_l a:active { color: #ffffff; text-decoration: underline;}

.sidebar_r { position: absolute; top: 75px; left: 915px; 
	font-family: Helvetica; font-size: smaller;
	color: black; 
	background-color: #606060; background-image: url('/coLab/Resources/P1GraySm.png'); 
	}

.sidebar_r a:link { color: #2030ff; text-decoration: none;}
.sidebar_r a:visited { color: #0000c0; text-decoration: none; }
.sidebar_r a:hover { color: #f0e0d0; text-decoration: underline;}
.sidebar_r a:active { color: #ffffff; text-decoration: underline;}

/* 
 * Open Loop Alert: the numbers here are repeated in the config.py file - need to come from
 * a single source at some point 
 */
.main { position: absolute; top: 24px; left: 204px;  width: 700px; 
	text-align:center;
	font-family:Georgia; 
	background-color: #151515;
	background-image: url('/coLab/Resources/P1Black2.png');
	color: #a0b0c0; }

.main h2 { color: #c0b0a0; }
.main h3 { color: #c0b0a0; }
.main h4 { color: #c0b0a0; }
.main table { color: #a0b0c0; 
	background-color: #151515;
	background-image: url('/coLab/Resources/P1Black2.png');
	}
.main table h2 { color: #c0b0a0; }

.maintext { position: relative; left: 25px; width: 640px; 
	text-align:left;
	color: #a0b0c0;
	}

.fundesc { font-family: cursive, 'Brush Script MT','Lucida Handwriting'; color: #c0b0a0 }

.imglink img { border: solid 2px transparent; }
.imglink img:hover { border-color: #c0b0a0 ; }

.links a:link { color: #d8c8b8; text-decoration: none;}
.links a:visited { color: #b8a898; text-decoration: none; }
.links a:hover { color: #f0e0d0; text-decoration: underline; }
.links a:active { color: #ffffff; text-decoration: underline; }

.song a:link { color: #a0b0c0; text-decoration: none;}
.song a:visited { color: #a0b0c0; text-decoration: none; }
.song a:hover { color: #f0e0d0; text-decoration: underline; }
.song a:active { color: #ffffff; text-decoration: underline; }

.logo { position: absolute; top: 40px; right: 20px; }

.copyright { text-align:center; font-size:small; }


#video {
	position: relative;
	top: 0px;
}

#video-container {
	width: 640px;
	height: 550px;
	position: relative;
	top: 0px;
	text-align: center;
	/* force the left margin rather than center - to account for
	 * the scroll bar width  ~12 pixels  
	 */
	margin-left: 24px;
	margin-right: auto;
}

#video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 0;
	-webkit-transition: opacity 1.0s;
	-moz-transition: opacity 1.0s;
	-o-transition: opacity 1.0s;
	-ms-transition: opacity 1.0s;
	transition: opacity 1.0s;
	background-image: linear-gradient(bottom, rgb(10, 80, 145) 40%, rgb(0,73,141)  100%);
	background-image: -o-linear-gradient(bottom, rgb(10, 80, 145) 40%, rgb(0,73,141)  100%);
	background-image: -moz-linear-gradient(bottom, rgb(10, 80, 145) 40%, rgb(0,73,141)  100%);
	background-image: -webkit-linear-gradient(bottom, rgb(10, 80, 145) 40%, rgb(0,73,141)  100%);
	background-image: -ms-linear-gradient(bottom, rgb(10, 80, 145) 40%, rgb(0,73,141)  100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.40, rgb(10,80,145)),
		color-stop(1, rgb(0,73,141))
	);
}

#video-container:hover #video-controls {
	opacity: .9;
}

button {
	background: rgba(192, 192, 255, 0.2);
	border: 0;
	color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}


button:hover {
	cursor: pointer;
}


#seek-bar {
	width: 360px;
}

#volume-bar {
	width: 60px;
}

/*	this may help with the Android scaling - but so far it seems to 
 *	make it worse.
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}
 */

